:root {
  /* accent */
  --clr-primary-100: hsl(277, 64%, 61%);
  /* card background */
  --clr-primary-400: hsl(244, 38%, 16%);
  /* main background */
  --clr-primary-900: hsl(233, 47%, 7%);

  /* main heading, stats */
  --clr-neutral-100: hsl(0, 0%, 100%);
  /* stat headings */
  --clr-neutral-200: hsla(0, 0%, 100%, 0.6);
  /* main paragraph */
  --clr-neutral-300: hsla(0, 0%, 100%, 0.75);

  --ff-primary: "Inter", sans-serif;
  --ff-accent: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 100;
  filter: brightness(80%);
  opacity: 0.5;
}

.hero {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--clr-primary-100);
}

body {
  font-size: 15px;
  background: var(--clr-primary-900);
}

.card {
  background: var(--clr-primary-400);
  font-family: var(--ff-primary);
  text-align: center;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1em 1em 1em 1em;
}

.card h1,
h2 {
  color: var(--clr-neutral-100);
}

.card h1,
.card p {
  margin: 1em 1em 1em 1em;
}

.card p {
  color: var(--clr-neutral-300);
}

.split h2 {
  margin: 0.75em 0 0 0;
}

.split p {
  margin: 0.5em 0 1.5em 0;
  font-family: var(--ff-accent);
  color: var(--clr-neutral-200);
}

.attribution {
  color: var(--clr-neutral-100);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.violet {
  background: none;
  color: var(--clr-primary-100);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (max-width: 376px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}

@media (min-width: 376px) {
  body {
    margin: auto;
  }
  .hero {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
  }
  .browser-split {
    display: flex;
    flex-direction: row-reverse;
  }
  .row {
    flex: 50%;
    width: auto;
  }
  .split {
    flex-direction: row;
    width: 95%;
    margin: 0 auto 0 auto;
  }
  .split > * + * {
    margin-left: 2em;
  }
  .column {
    margin: 1em 1em 1em 1em;
    text-align: left;
  }
  .card {
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    max-width: 1000px;
    text-align: left;
  }
  .card h1 {
    margin: 15px;
  }
  .column {
    margin-top: 20%;
  }
}
